<ion-view title="List">
    <ion-nav-buttons side="left">
        <ion-header-bar class="bar-header setZeroPadding">
            <div class="pageNavHead opc useFullWidth">
                <table border="0" cellpadding="0" cellspacing="0" >
                    <tr>
                        <td width="35px"><a ng-click="toggleSideMenu()"><img src="img/menu-icon.png"></a></td>
                        <td class="festivalHeaderText"><h3>Blog</h3></td>
                        <td width="35px" class="exptIco"><a><img src="img/exportIcon.png"></a></td>
                    </tr>
                </table>
            </div>

        </ion-header-bar>



    </ion-nav-buttons>
    <ion-content class="has-header">

        <div class="norContainor">

            <div class="ff-hero">
                <img src="{{admin}}{{blogList.pic_url}}">
            </div>
            <div class="whtbg">
                <div class="hcon-news ">
                    <h1 ng-bind-html="blogList.blog_title"></h1>
                    <label><clean-date timeset="blogList.blog_created_at"></clean-date></label>
                </div>

            </div>


            <div class="whitebg newsbg">
                <p ng-bind-html="blogList.blog_content"></p>

            </div>
            <div style="margin-top: 10px;">
                <div class="srhDirHead tRts">Related Posts</div>
            </div>
            <ion-scroll style="height:250px;">
                <div class="each_blog" ng-repeat="blog in blogRelated" ng-if="blog.status=='active' && $index != blogId && blogList.blog_type_name == blog.blog_type_name">
                    <a href="#/app/blog/details/{{$index}}">
                        <div class="blog_left">
                            <img src="{{admin}}{{blog.pic_url}}"  height="54" alt="burger" />
                        </div>
                        <div class="blog_middle">
                            <h1 ng-bind-html="blog.blog_title"></h1>
                            <p><clean-date timeset="blog.blog_created_at"></clean-date></p>
                        </div>
                        <div class="blog_right">
                            <img src="img/moreArrowB.png"  height="18" />
                        </div>
                    </a>
                </div><!--blog_cont-->
            </ion-scroll>

        </div>


    </ion-content>
    <ion-footer-bar>
        <div class="promoAds"><img src="img/ads.jpg"></div>
    </ion-footer-bar>
</ion-view>
