<ion-side-menus drag-content="false">

  <ion-pane transition-check ion-side-menu-content drag-content="false">
      <!--<ion-header-bar class="bar-header">
          <button class="button button-icon" ng-click="toggleSideMenu()">
              <i class="icon ion-navicon"></i>
          </button>
          <h1 class="title">Home1</h1>
          <button class="button button-icon">
              <i class="icon ion-star"></i>
          </button>
      </ion-header-bar>-->
      <disable-screen class="cover"></disable-screen>


       <ion-nav-bar class="bar-assertive nav-title-slide-ios7">
        </ion-nav-bar>
        <ion-nav-view name="menuContent" animation="slide-left-right" drag-content="false"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left"  id="leftSideMenu" class="menu_containor" style="visibility: hidden;" drag-content="false" ng-hide="hideLeft">

      <!--          <ion-header-bar class="bar about_top no_back">

                    <div class="search-text-box">
                        <input name="search-menu"  type="text" class="sideMenuSearchBar">
                    </div>


                </ion-header-bar>-->
          <ion-content>
              <div>
                  <div class="about_top no_back">

                      <div class="menu_left_img">
                          <img src="img/user.png" width="110" ng-if="userInfo.pic_url == null">
                          <img ng-src="{{adminUrl}}{{userInfo.pic_url}}" width="110" height="110" ng-if="userInfo.pic_url != null">
                      </div>
                      <!--<a href="#" class="red_icon"><img src="img/menu-redicon.png"  width="32"></a>-->
                      <div class="menu_right_txt">
                          <h3>Hello,</h3>
                          <h1>{{userInfo.user_firstname}}</h1>
                      </div>
                  </div>
                  <div class="menu-select-box">
                      <!--           <p>Edit Profile</p>
                       -->
                        <ul>
                            <li ng-repeat="sMenuList in sideMenuLists" class="border-grey"><a  nav-clear menu-close href="{{sMenuList.url}}" style="color:white;">{{sMenuList.sideMenuName}}</a></li>
                        </ul>
                  </div>

              </div>

              </ion-content>


  </ion-side-menu>
</ion-side-menus>
