<div class="modal">

    <ion-content  scroll="true">
        <div class="containor grey_back">
            <div class="about_top sorting_top">
                <h3>Sort by:  </h3>
                <div class="cancel_btn">
                    <a ng-click="modalActions.closeModal()">Cancel</a>
                </div>
            </div>
            <div class="sorting_content">

                <h2> Category</h2>
                <ul>
                    <li ng-repeat="cat in filterList"><a ng-class="{'button button-light':$index != showFilterSelected , 'button button-assertive':$index == showFilterSelected}" ng-click="changeFilter($index)">{{cat.filterType}}</a></li>

                </ul>
                <div class="clear"></div>
                <h2> SUB CATEGORIES</h2>
                <ul>

                    <li ng-repeat="sub in subCatList"><a ng-class="modalActions.subCatSelectClass(sub)" ng-click="modalActions.filterSubCat(sub)">{{sub.sub_category_name}}</a></li>

                </ul>
                <div class="clear"></div>
                    <h2> TAGS</h2>

                    <ul>

                        <li ng-repeat="tag in tagList"><a ng-class="modalActions.tagSelectClass(tag)" ng-click="modalActions.filterTags(tag)">{{tag.tag_name}}</a></li>

                    </ul>





            </div>


        </div>


    </ion-content>
</div>

